img{
    width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 1rem;
}
body{
    background-color: rgb(185, 201, 213);
    margin-top: 110px;
    height: auto;
}

.container{
    width: 200px;
    height: auto;
    background-color: white;
    padding: 70px 30px;
    border-radius: 15px;
    align-items: center;
    margin: 15px 200px;
    margin-left: 550px;
    box-shadow: 0rem 0rem 1rem ;
}
.box{
   margin-top:-55px; 
   margin-left: -1px;
   border-radius: 5px;
}

h1{
    font-size: large;
}
p{
    color: rgb(54, 49, 49);
}